<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".get_help" %>
  <%= link_to t(".rails_help"), "http://www.railstutorial.org/help" %>.<%= t ".to_get" %>
  <em><%= link_to t(".rort"), "http://www.railstutorial.org/book" %></em> <%= link_to t(".book"), "http://www.railstutorial.org/book" %>.
</p>
